body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../image/bg.webp);

}
p{
    margin: 0px;

}
.header
{
    margin: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(116, 183, 245, 0.103);
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
    
    border-radius: 10px;
}
.header img{
    block-size: 80px;
    margin: 10px;

}
.logoutBtn {
    border: none;
    margin-right: 15px;
    border-radius: 10px;
    font-size:30px;
    color:rgb(224, 224, 224);
    padding: 7px 16px 7px 20px ;
    background: rgba(241, 50, 50, 0.2);
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px, rgba(0, 0, 0, 0.23) 0px 3px 4px; 
    transition: all 0.4s;
}
.logoutBtn:hover{
    background: rgba(241, 50, 50, 0.397);

}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;

    background: rgba(116, 183, 245, 0.103);
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
    
    border-radius: 10px;
    position: fixed;
    top: 123px;
    left: 0;
    bottom: 6px;
    width: 260px;
    transition: all ease-in-out 0.5s;
    z-index: 2;
    transition: all 0.5s;
    overflow-y: auto;

}
.navInner{
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.usr{
    align-self: flex-start;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    background: rgba(48, 240, 176, 0.308);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}
.usrCnt{
    color: steelblue;

}


.container {
    display: flex;
    height: calc(100vh - 130px);
    
}
.msgView {
    /* width: calc(100% - 300px); */
    width: 100vw;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 310px;

    background: rgba(116, 183, 245, 0.103);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}


/* Mobile Navigation */
.mobile-nav-toggle {
    margin-right: 10px;
    z-index: 3;
    font-size: 20px;
    transition: all 0.4s;
    background: rgba(9, 179, 247, 0.39);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);
    color: #fff;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}
.mobile-nav-toggle:hover{
    background: rgba(47, 190, 247, 0.7);

}
@media (max-width: 786px) {
    .nav {
        left: -300px;
        top: 68px;
        bottom: 1px;
    }
    .msgView{
        margin-left: 20px;
    }
    .header img{
        block-size: 60px;
        margin: 0;
    } 
    .header {
        margin-top: 10px;

    } 
    p{
        font-size: 14px;
    }
    .container {
        height: calc(100vh - 75px);
        
    }
    .startMsg{
        visibility: hidden;
    }



}
@media (min-width: 786px) {
    .mobile-nav-toggle {
        display: none!important;
    }

}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .nav {
    left: 0;
}

.userProfile {
    
    align-items: center;
    text-align: center;
    padding: 5px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.4s;

}
.userProfile:hover{
    background: rgba(54, 54, 54, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);

}

.userName{
    transition: all 0.4s;
    margin-bottom: 20px;
    font-weight: bold;
}

.profilePic {
    border-radius: 30%;
    block-size: 70px;
    padding: 5px;

}

.pName {
    padding: 5px;
    transition: all 0.4s;

    
}

.tab {
    border-radius: 10px;
    cursor: pointer;
    margin: 8px;
    display: flex;
    align-items: center;
    transition: all 0.4s;
}

.tabSelected{
    background: rgba(43, 188, 245, 0.164);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);
}

.placePic, .pPicInner {
    border-radius: 50%;
    block-size: 50px;
    padding: 5px;
    transition: all 0.4s;

}

.topInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background: rgba(54, 54, 54, 0.1);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);
    transition: all 0.4s;


}
@media (max-width: 786px) {
    .pPicInner {
        border-radius: 50%;
        block-size: 35px;
        padding: 5px;
        transition: all 0.4s;
    }
    .topInfo {
        padding: 8px;
        margin-top: -15px;
    }

}
.placeNm
{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-right: 10px;
    max-width: 77%;
    transition: all 0.4s;
    cursor: pointer;
    font-weight:bold;


}
.placeNm:hover{
    background: rgba(54, 54, 54, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);

}
.pNameInner{
    margin-left: 5px;
}
.proPic {
    border-radius: 50%;
    block-size: 30px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    cursor: pointer;

}

.conversation{
    /* width: calc(100% - 300px); */

    height:calc(100% - 135px); 
    overflow:hidden; 
    overflow-y:scroll;
    padding-bottom: 10px;

}
@media (max-width: 786px) {
    .conversation{
        height:calc(100% - 115px); 

    }

}
.otherMsg {
    display: flex;
    padding-top: 10px;
    margin-right: 20%;
}

.myMsg {
    display: flex;
    padding-top: 10px;
    margin-left: 20%;
    align-self: flex-end;
    flex-direction: row-reverse;
}

.msgInfo {
    border-radius: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.nm {
    font-size: 12px;
    color: rgba(70, 131, 180, 0.7);
    font-weight:bolder;
    margin-top: 2px;
    margin-bottom: 5px;
}
.greetingNm{
    color: steelblue;
    font-weight: bold;
}

.ykClick{
    color: steelblue;
    font-weight: bold;
    cursor: pointer;
}
.fblink{
    color: steelblue;
}
.sendMsg {
    bottom: 30px;
    position: fixed;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* input[type=text] */
.editTxt {
    font-weight: bold;
    outline: none;
    border: none;
    color: #000;
    margin: 5px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 115px);
    background: rgba(88, 68, 68, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);
    transition: all 0.4s;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(112, 111, 111);
    opacity: 1; /* Firefox */
  }
.editTxt:hover, :focus{
    background: rgba(54, 54, 54, 0.2);
    background: rgba(3, 42, 58, 0.1);

}

.material-symbols-outlined {
    color: rgb(255, 255, 255);
    font-variation-settings:
        'FILL'0,
        'wght'800,
        'GRAD'0,
        'opsz'48
}


.sendBtn {
    border: none;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background: rgba(9, 179, 247, 0.39);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);
    border-radius: 5px;
    transition: all 0.4s;

}

.sendBtn:hover{
    background: rgba(54, 54, 54, 0.3);
    background: rgba(47, 190, 247, 0.7);

}

::-webkit-scrollbar {
    width: 10px;
  }
   
::-webkit-scrollbar-track {
    background: rgba(54, 54, 54, 0.1);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgba(0, 0, 0, 0.23) 0px 1px 2px;


  }
   
::-webkit-scrollbar-thumb {
    background: rgba(32, 32, 32, 0.2);
    border-radius: 5px;


  }

.part{
    margin: 10px  0 0 17px;
}


.startMsg{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position:fixed;


}
.center
{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 50px;
    margin-left: 410px;
    margin-right: 100px;
    margin-top: -100px;

    background: rgba(116, 183, 245, 0.103);
    -webkit-backdrop-filter: saturate(180%) blur(7px);
    backdrop-filter: saturate(180%) blur(7px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
    border-radius: 10px;

}
.center p{
    align-self: center;
    text-align: center;
    font-weight: bold;
}